.main_container {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
}

.container {
  display: grid;
  background-color: black;
  width: 100%;
  height: 500px;
  flex-direction: column;
  padding-bottom: 20px;
}

.input_container {
  margin-right: 20px;
  margin-top: 20px;
}

.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  font-size: 60px;
  color: white;
}

.btn_container {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 25%;
  padding: 20px;
  font-size: 20px;
  border-radius: 60px;
}

.btn_null {
  background-color: #333333;
  color: white;
  flex: 1 50%;
}

.btn_lightgrey {
  background-color: #a5a5a5;
  color: white;
}

.btn_orange {
  background-color: #fd9b0b;
  color: white;
}

.btn_darkgrey {
  background-color: #333333;
  color: white;
}
